.productPreview{
    width: 50%;
  }
.productPreview > img{
  width: 80%;
}
  
.timeSection{
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 48px;
  font-weight: 600;
  color: white;
  transform: translate(-50%,-50%);
}
  
.heartBeatSection{
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 48px;
  font-weight: 600;
  color: white;
  margin-top: 10px;
  transform: translate(-50%,-50%);
}
  
  .heartBeatSection > i{
    color: red;
    animation: beat 1s infinite;
  }
  
  @keyframes beat{
    0%{
      transform: scale(1, 1);
    }
    50%{
      transform: scale(1.2, 1.2);
    }
    100%{
      transform: scale(1, 1);
    }
  }
  