.topBar{
    background-color: #282c34;
    display: flex;
    justify-content: center;
    height: 60px;
    padding: 15px 0 0 0;
    position: fixed;
    width: 100%;
  }
  
  .topBar > img{
    max-width: 100%;
  }