*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

header{
    display: flex;
    padding: 20px 0 0;
    justify-content: center;
}
.headerImage{
   height: 60px;
}

.mainContainer{
    display: flex;
}

.smartWatch img{
    height: 85%;
}
.smartWatch, .aboutWatch{
    width: 50%;
}
.watchTime{
    position: absolute;
    top: 53%;
    left: 15%;
    font-size: 40px;
    color: #ffffff;
}

.heartBeatContainer{
    position: absolute;
    top: 45%;
    left: 17%;
    height: 130px;
    width: 130px;
    display: none;
}


.heartBeatContainer p{
    color: #ffffff;
    font-size: 30px;
    padding: 10px 10px 10px 40px;
}

.aboutWatch{
    margin: 100px 0 0;
}
.watchHeading{
    font-size: 50px;
    font-weight: 600;
    margin: 0 0 20px 0;
}

.watchDescription{
    font-size: 20px;
}

.colorPalatte{
    margin: 30px 0;
    font-size: 30px;
}

.allColorBox{
    display: flex;
    gap: 30px;
}
.colorBox0, .colorBox1, .colorBox2, .colorBox3, .colorBox4 :hover{
    cursor: pointer;
}

.features{
    font-size: 30px;
    margin: 20px 0;
}

.functionalityButtons{
    display: flex;
    gap: 50px;
    height: 40px;
}

.timeButton, .heartRateButton{
    width: 20%;
    font-size: 20px;
    background-color: #afafaf;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buyNow{
    margin: 30px 0;
    height: 40px;
    width: 30%;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffe25d;
    cursor: pointer;
}
